In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [19, 21, 20, 22, 23],
    'Score': [85, 92, 78, 90, 88]
}

df = pd.DataFrame(data)

df.head(3)
df.describe()
df['Score'].mean()

df[df['Age'] > 20]
df[df['Score'] > 80]

    Name  Age  Score
0  Alice   19     85
1    Bob   21     92
3  David   22     90
4    Eva   23     88